git+https://gitlab.freedesktop.org/gfx-ci/ci-collate@09e7142715c16f54344ddf97013331ba063b162b
termcolor==2.4.0

# ci-collate dependencies
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
pip==24.0
python-gitlab==4.6.0
requests==2.32.3
requests-toolbelt==1.0.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
setuptools==71.0.3
tenacity==8.3.0
urllib3==2.2.1
wheel==0.43.0
